@use "fonts/_fonts.scss" as *;
@use "structure.scss" as *;
@use "theme.scss" as *;
@use "ui.scss" as *;
@use "projects.scss" as *;
@use "contact.scss" as *;
@use "pixelated.scss" as *;
@use "presentationAside.scss" as *;
@use "nav.scss" as *;

.marquee {
  background-color: $background;
  padding: 4px;
  border: 3px solid $primary;
  border-right: 0;
  border-left: 0;
  color: $marquee_color;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;


  span {
    font-size: 46;
    line-height: "1em";
  }
}

@mixin bordered() {
  border: 2px solid $primary;
  border-radius: 6px;
  padding: 8px;
}

.root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 14px;
  gap: 11px;
  max-width: 1000px;
  width: 97%;
  margin: 0 auto;

  .pixel-corners--wrapper {
    background-color: $background;
  }

  main {
    flex: 1;
    font-size: 17px;
    font-family: "grotesque", "facade";

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "ft88", "grotesque", "facade";
      font-weight: 900;
      text-decoration-style: dashed;
      text-underline-offset: 2px;
    }

    h1 {
      color: $primary;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      font-size: 30px;
      margin-bottom: 5px;
    }


    p {
      font-size: 19px;
      font-weight: 400;
      text-indent: 2ch;
    }

    strong,
    .strong {
      font-weight: 300;

      text-decoration-color: $primary !important;
      // text-decoration: underline;
      color: $primary
    }
  }

}

@media (max-width: $mobile-breakpoint) {
  .root {
    flex-direction: column;
    align-items: stretch;
    width: 96%;

    .mainAside {
      position: unset !important;
      width: 100%;

      .pixel-corners--wrapper {
        width: 100%;
      }

      .navExpandableArea {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
        opacity: 1;
      }
    }
  }
}