@use "fonts/_fonts.scss" as *;
@use "structure.scss" as *;
@use "theme.scss" as *;
@use "ui.scss" as *;
@use "projects.scss" as *;
@use "contact.scss" as *;
@use "pixelated.scss" as *;

.marquee {
  background-color: $background;
  padding: 4px;
  border: 3px solid $primary;
  border-right: 0;
  border-left: 0;
  color: $marquee_color;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  span {
    font-size: 46;
    line-height: "1em";
  }
}

@mixin bordered() {
  border: 2px solid $primary;
  border-radius: 6px;
  padding: 8px;
}

.root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 14px;
  gap: 11px;
  max-width: 1000px;
  width: 97%;
  margin: 0 auto;

  // Navigation sidebar
  .mainAside {
    position: sticky;
    top: 13px;
    font-family: "ft88", "grotesque", "facade";
    list-style: none;

    h1 {
      font-weight: 600;
      margin-bottom: 0px;
      text-align: center;

      a {
        text-decoration: none;
        border: 0px;
        outline: 0px;
      }
    }

    hr {
      margin: 3px 0;
    }

    nav {
      gap: 0px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      font-weight: 400;
      font-size: 18px;
      padding-bottom: 10px;

      h1 a {
        background-color: red;
        font-size: 10px !important;
      }

      li {
        margin-left: 10px !important;
        padding: 0 7px;
      }

      a {
        position: relative;
        /* needed for ::before/::after absolute positioning */
        display: inline;
        width: fit-content;
        text-decoration: none;

        &:hover,
        &.active,
        &:focus-visible {
          border: 0px;
          outline: 0px;

          &::before {
            font-family: "ft88", "grotesque", "facade" !important;
            content: ">";
            position: absolute;
            left: -1.2ch !important;
            top: -0.14ch !important;
            /* tweak as needed */
          }

          &::after {
            /* content: " />"; */
            position: absolute;
            left: 100%;
            /* just after the link text */
            top: 0;
            letter-spacing: -3px;
          }
        }
      }

      .navExpandableArea {
        gap: 2px;

        .navExpandableLink {
          margin-left: 1.05ch;
          padding-top: 0;
          padding-bottom: 0;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          width: fit-content;
          gap: 6 !important;

          &:first-of-type {
            margin-top: 6px;
          }

          a {
            display: block;
            width: 100%;
            margin: unset;
          }

          &::before {
            font-family: Arial, Helvetica, sans-serif;
            top: -2px;
            content: "├";
            position: absolute;
            left: -15px;
          }

          &:last-child {
            margin-bottom: 0.14em;

            &::before {
              font-family: Impact;
              left: -15px;
              top: -1px;
              content: "└";
            }
          }

          &:hover::before,
          &.active::before,
          &:focus-within::before {
            transform: scaleY(1);
            top: -1px;
            // content: ">" !important;
          }
        }
      }
    }
  }

  main {
    flex: 1;
    font-size: 17px;
    font-family: "grotesque", "facade";

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "ft88", "grotesque", "facade";
      font-weight: 900;
      text-decoration-style: dashed;
      text-underline-offset: 2px;
    }

    h1 {
      color: $primary;
      text-decoration: underline;
      font-size: 23px;
      margin-bottom: 5px;
    }


    p {
      font-size: 19px;
      font-weight: 400;
      text-indent: 2ch;
    }

    strong,
    .strong {
      font-weight: 300;

      text-decoration-color: $primary !important;
      // text-decoration: underline;
      color: $primary
    }
  }

}

@media (max-width: $mobile-breakpoint) {
  .root {
    flex-direction: column;
    align-items: stretch;
    width: 96%;

    .mainAside {
      position: unset !important;
      width: 100%;

      .pixel-corners--wrapper {
        width: 100%;
      }

      .navExpandableArea {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
        opacity: 1;
      }
    }
  }
}