@use "theme.scss" as *;

.projectCards {
  gap: 8px;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
}

.projectCard {
  padding: 4px;

  color: $text;
  border: $primary 2px solid;
  background-color: $background;
  border-radius: 2px;

  h2 {
    margin: 0;
    padding-bottom: 0;
  }

  .projectFlex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3px;

    .projectContent {
      flex: 1;
      padding: 3px;

      h1 {
        // letter-spacing: -1px;
        font-weight: 400 !important;
        font-size: 19px !important;
        margin-bottom: 12px;
        text-decoration: none;

        color: $primary;
      }
    }


    aside {
      margin: 3px 3px;
      flex: 0.4;

      .slideshow {
        border: 2px solid $text;

        margin-bottom: 4px;
      }

      .Link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
      }

      .links {
        margin-top: 8px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4;
        flex-direction: column;
      }

    }
  }
}

.projectPage {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ft88", "grotesque", "facade";
    color: $primary;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: "grotesque", "facade" !important;
    font-weight: 100 !important;
  }

  p {
    text-indent: 0 !important;
  }

  .Link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  h1 {
    // letter-spacing: -1px;
    font-weight: 400;
    font-size: 25px !important;
    margin-bottom: 9px;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 10;
    letter-spacing: -2;
  }

}

@media (max-width:"800px") {
  .projectCard {
    .projectFlex {
      display: block;
    }

    .links {
      justify-content: space-evenly !important;
      flex-direction: row !important;
      padding-bottom: 7px;

      border-bottom: 2px solid $primary;
    }
  }
}