@use "sass:map";
$mobile-breakpoint: "600px";
$text: #ededed;
$background: #141112;
$primary: #e54d7a;
$secondary: #a40a88;
$accent: #c0bd17;
$marquee_color: #e54d7a;
$input_bg: rgb(23, 23, 25);

:root {
  /* Global variable */
  --text-color: #ffffff;
  --primary: #e54d7a;
}