.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  gap: 17px;
  a {
    color: $main-site-color;
  }
}
.socials--vertical {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  a {
    text-decoration: none;
    p {
      margin: 0;
      font-size: 33px;
      i {
        width: 45px;
      }
    }
  }
  a:hover {
    text-decoration: underline;
    p {
      text-decoration: underline;
    }
  }
}
