$main-site-color: #812a19;
$main-site-color-accent: #e34a41;
$main-site-white: #f2f2f2;

$document-background: $main-site-white;
$wrapper-background: $main-site-white;

$nav-textColor: $main-site-white;
$nav-active-link: #e9e7f2;

$card-background: $main-site-color;
$card-text: $main-site-white;

$font-sans-serif: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$card-font-family: "Arial";
$quote-font-family: $font-sans-serif;

$workshowcase-details: #e95154;
$workshowcase-thumbnail: #f5f7fc;

$wrapper-content-color: #0d0d0d;
