.wrapper {
  min-height: calc(100% - 109px);
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 0 0;
  background-color: $wrapper-background;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  a {
    color: $main-site-color;
  }

  .content.homepage {
    .headshot {
      margin-bottom: 25px;
    }
    hr {
      margin-bottom: 12px;
    }
  }

  .content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    min-height: 100%;
    display: flex;
    align-items: center;
    background-color: $wrapper-background;
    justify-content: center;
    color: $wrapper-content-color;
    flex-direction: column;

    hr {
      width: 90%;
      max-width: 700px;
      border: 2px solid $main-site-color;
      margin: 0;
    }

    h1 {
      margin: 0 0 20px 0;
    }

    .headshot {
      width: 300px;
      border-radius: 50px;
    }

    h1 {
      margin-bottom: 7px;
    }

    h3 {
      font-weight: 100;
    }
  }
}
