@use "theme.scss" as *;

.projectCards {
  gap: 8px;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
}

.projectCard {
  padding: 4px;

  @include themify() {
    color: themed("text");
    border: themed("primary") 2px solid;
    background-color: themed("background");
    border-radius: 2px;
  }

  h2 {
    margin: 0;
    padding-bottom: 0;
  }

  .projectFlex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3px;

    .projectContent {
      flex: 1;
      padding: 3px;

      h1 {
        font-weight: 400 !important;
        font-size: 19px !important;
        margin-bottom: 12px;
        text-decoration: none;

        @include themify() {
          color: themed("primary");
        }
      }
    }

    .slideshow {
      @include themify() {
        margin: 3px 3px;

        border: 2px solid themed("text");
        flex: 0.7;
      }
    }
  }
}

@media (max-width:"800px") {
  .projectCard {
    .projectFlex {
      display: block;
    }
  }
}