@use "sass:map";
$mobile-breakpoint: "600px";

$theme-map: null;
$themes: (
  light: (text: #171717,
    background: #ffffff,
    primary: #6d65aa,
    secondary: #ada7d6,
    accent: #796dc7,
    marquee_color: #fc1aa9,
    input_bg: red,
  ),
  dark: (text: #ededed,
    background: #0a0a0a,
    primary: #bc157f,
    secondary: #4a2957,
    accent: #cd2ddb,
    marquee_color: #fc1aa9,
    input_bg: rgb(23, 23, 25),
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    // [data-bs-theme="#{$theme}"] & {
    // Small edit between these two themes to allow for top level selection! Used for setting :root variables.
    [data-bs-theme="#{$theme}"]#{if(&, " &", "")} {
      $theme-map: (
        ) !global;

      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), "#{$key}"
        );
      $theme-map: map.merge($theme-map,
          ($key: $value,
          )) !global;
    }

    @content;
    $theme-map: null !global;
  }
}
}

@function themed($key) {
  @return map.get($theme-map, $key);
}