@use "theme.scss" as *;

hr {
  margin: 15px 0;

  @include themify() {
    border: 1px solid themed("primary");
  }
}

ul {
  margin-top: 3px;
}

li {
  margin-bottom: 1px;
  margin-left: 20px;
}

a,
.Link {
  &.raw {
    text-decoration: none !important;
  }

  @include themify() {

    color: themed("primary");
    text-decoration-color: themed("primary");
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      color: themed("accent");
      text-decoration-color: themed("accent");
      text-decoration: underline;
    }

    &.active {
      color: themed("accent");
    }
  }
}

input,
textarea,
.btn {
  @include themify() {
    border: 2px solid themed("primary");
    background-color: themed("input_bg");
  }

  font-size: 16px;
  padding: 3px 5px;
  margin-bottom: 14px;
  width: 100%;
  min-height: 40px;
  border-radius: 6px;
  resize: vertical;
  max-height: 400px;
  font-family: "grotesque",
  "facade";
}

textarea {
  padding-top: 7px;
  min-height: 190px;
}

.btn {
  cursor: pointer;

  @include themify() {
    &:hover {
      color: themed("text");
    }
  }
}