@use "variables" as *;

.contact {
  font-family: "Afacad Flux", serif;
  background-color: $site-secondary;
  padding: 42px 0 71px 0;
  margin-bottom: 92px;
  min-height: 100%;
  text-align: center;
  .socials {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 640px;
    margin: 0 auto;
    color: $site-offWhite;
    a {
      color: $site-offWhite;
      font-size: 30px;
      text-decoration: none;
      i {
        margin-right: 10px;
      }
      &:hover {
        p {
          text-decoration: underline;
        }
      }
    }
    span {
      font-size: 44px;
      transform: translateY(-10px);
    }
  }
  .socials--vertical {
    flex-direction: column;
  }
  h2 {
    color: $site-offWhite;
    font-family: "Afacad Flux", serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }
  form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    max-width: 620px;
    margin: 0 auto;
    input,
    textarea,
    .btn {
      font-family: "Afacad Flux", serif;
      border: 2px solid black;
      font-size: 16px;
      padding: 3px 5px;
      color: black !important;
      background-color: $site-offWhite;
      width: 100%;
      color: black;
      min-height: 40px;
      border-radius: 6px;
      resize: vertical;
      max-height: 400px;
    }
    textarea {
      padding-top: 7px;
      min-height: 190px;
    }
    .btn {
      cursor: pointer;
      &:hover {
        background-color: $site-fifth;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .contact {
    .socials {
      a {
        font-size: 20px;
      }
      span {
        font-size: 30px;
      }
    }
  }
}
