@use "variables" as *;

.featuredWork {
  position: relative;
  font-family: "Afacad Flux", serif;
  background-color: $site-secondary;
  padding: 46px 0 60px 0;
  a {
    text-decoration: none;
  }
  h2 {
    color: $site-offWhite;
    font-family: "Afacad Flux", serif;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }
  .featuredWorkContent {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;

    max-width: 1700px;
    margin: 0 auto;
    gap: 40px;
    .featuredWorkCard {
      border-radius: 10px;
      overflow: hidden;
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      &:hover {
        .featuredWorkCard-Cover {
          scale: 1.01;
        }
        .featuredWorkCard-Content {
          h3 {
            text-decoration: underline;
          }
        }
      }
      .featuredWorkCard-Cover {
        max-height: 340px;
        aspect-ratio: 9 / 5;
        transition: scale 0.1s linear;
        width: 100%;
        background-color: $site-main;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
      }
      .featuredWorkCard-Content {
        z-index: 1;
        width: 100%;
        height: 100%;
        flex: 1;
        background-color: $site-third;
        color: $site-secondary;
        padding: 14px 14px;
        h3 {
          font-size: 38px;
          line-height: 0.9em;
          text-align: center;
          margin-bottom: 4px;
        }
        p {
          font-size: 20px;
          text-align: center;
          max-width: 530px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: $layout-breakpoint-desktopMedium) {
  .featuredWork {
    // padding-top: 55px;
    .featuredWorkContent {
      .featuredWorkCard {
        .featuredWorkCard-Content {
          h3 {
            font-size: 35px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: $layout-breakpoint-tablet) {
  .featuredWork {
    .featuredWorkContent {
      flex-direction: column;
      max-width: 500px;
    }
  }
}
@media (max-width: $layout-breakpoint-mobile) {
  .featuredWork {
    .featuredWorkContent {
      flex-direction: column;
      width: 80%;
      .featuredWorkCard {
        .featuredWorkCard-Content {
          min-height: 0;
          h3 {
            font-size: 30px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
