@use "variables" as *;
body:has(#mobileNav.is-active) .hero {
  margin-top: 180px;
}
.hero {
  margin-top: 130px;
  .photoHolder {
    max-width: 500px;
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-image: url("../images/IMG_1840.JPEG");
    margin: 0 auto;
    background-size: 120%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border: 10px solid $site-main;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 36px;
    font-family: "Afacad Flux", serif;
    font-weight: 500;
    max-width: 1054px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 115px;
    span {
      color: $site-mainVibrant;
      font-weight: 700;
      cursor: pointer;
      font-size: 40px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-tablet) {
  .hero {
    .photoHolder {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 26px;

      span {
        font-size: 30px;
      }
    }
  }
}

// @media (max-width: $layout-breakpoint-mobile) {
//   .hero {
//     margin-top: 130px;
//   }
// }
