@use "variables" as *;
body:has(#mobileNav.is-active) .hero {
  margin-top: 180px;
}
.hero {
  margin-top: 150px;
  transition: margin 700ms;
  .photoHolder {
    max-width: 466px;
    width: 90%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-image: url("../images/IMG_3287.jpg");
    margin: 0 auto;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid $site-main;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 38px;
    font-family: "Afacad Flux", serif;
    font-weight: 500;
    max-width: 1054px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 115px;
    span {
      color: $site-mainVibrant;
      font-weight: 700;
      cursor: pointer;
      font-size: 42px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-tablet) {
  .hero {
    h1 {
      font-size: 33px;
      span {
        font-size: 37px;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .hero {
    margin-top: 130px;
  }
}
