@use "variables.scss" as *;
$navTransition: 0ms linear;
nav:has(#mobileNav.is-active) {
  .nav--content {
    padding-top: calc(37px + 14px);
  }
  #mobileNav.is-active {
    transform: translateX(0px);
  }
}
nav {
  font-family: "Afacad Flux", serif;
  backdrop-filter: blur(15px);
  background: linear-gradient(0deg, #f9fafb80 0%, #f9fafb 100%);
  position: sticky;
  top: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 100;
  .colorBar {
    position: absolute;
    transition: transform $navTransition;
    top: 0;
    transform: translateY(calc(-100% + 0px));
    background-color: $site-main;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    box-sizing: border-box;
    .anchorTags {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      a {
        text-align: center;
        color: $site-offWhite;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        // display: none;
        border-radius: 20px;
        margin: 0;
        padding: 5px 8px;
        transition: background-color 0.2s linear, color 0.1s linear;
        &:hover {
          background-color: $site-third;
          color: $site-offWhite;
        }
      }
    }
  }
  .nav--content {
    transition: padding-top $navTransition;
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .logo {
      background-image: url("../images/PersonalLogoFox.svg");
      image-rendering: crisp-edges;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      aspect-ratio: 482 / 295;
      width: 140px;
    }
    .anchorTags {
      margin-left: 40px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 40px;
      a {
        color: $site-main;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        display: inline-block;
        padding: 3px 8px;
        padding-bottom: 0;
        border-bottom: 3px solid $site-main;
        border-radius: 11px 11px 0 0;
        transition: background-color 0.2s linear, color 0.1s linear;
        &:hover {
          background-color: $site-third;
          color: $site-offWhite;
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      .contactBtn {
        // margin-right: 70px;
        border-radius: 11px;
        outline: $site-main 4px solid;
        padding: 6px 23px;
        transition: background-color 0.2s linear, color 0.1s linear;
        color: $site-main;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        display: inline-block;
        &:hover {
          background-color: $site-third;
          color: $site-offWhite;
        }
      }
      .hamburger {
        display: none;
      }
    }
  }
}
.navigationFocusable {
  position: absolute;
  top: 0;
  transform: translateY(-100px);
  background-color: red;
  visibility: hidden;
  left: 0;
  width: 20px;
  height: 20px;
}

#hamburger-9 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) translateX(-6px);
}

#hamburger-9:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  scale: 0.8;
  height: 70px;
  border: 7px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before {
  border: 6px solid $site-main;
}

#hamburger-9.is-active .line {
  width: 35px;
}

#hamburger-9.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-9.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
.hamburger {
  background-color: transparent !important;
}
.hamburger .line {
  width: 40px;
  height: 5px;
  background-color: $site-main;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

@media (max-width: $layout-breakpoint-tablet) {
  nav {
    .colorBar {
      z-index: 10;
    }
    .colorBar {
      .anchorTags {
        a {
          display: inline-block;
        }
      }
    }
    .nav--content {
      .right {
        .contactBtn {
          display: none;
        }
        .hamburger {
          display: block;
        }
      }
      .anchorTags {
        display: none;
      }
    }
  }
}
