@use "variables" as *;

.projects {
  max-width: 1700px;
  font-family: "Afacad Flux", serif;
  position: relative;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 80px 0;
  margin-bottom: 100px;
  h1 {
    font-size: 44px;
    margin-bottom: 13px;
  }
  p {
    font-size: 30px;
    margin-bottom: 45px;
  }
  h1,
  p {
    padding-left: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .projectsContent {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 0 auto;
    row-gap: 2vw;
    .projectCard {
      border: 5px solid black;
      border-radius: 27px;
      max-width: 558px;
      flex: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 26px 25px 20px 25px;
      cursor: pointer;
      &:hover {
        img {
          scale: 1.1;
        }
        h3 {
          text-decoration: underline;
        }
      }
      img {
        transition: scale 0.1s linear;
        max-width: 100px;
        width: 100%;
      }
      h3 {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        text-align: center;
        line-height: 0.9em;
        margin-bottom: 6px;
      }
      p {
        font-size: 20px;
        margin: 0;
        width: 90%;
        max-width: 350px;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-tablet) {
  .projects {
    padding-bottom: 10px;
    .projectsContent {
      .projectCard {
        flex: 40%;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .projects {
    h1 {
      font-size: 38px;
    }
    p {
      font-size: 20px;
    }
    .projectsContent {
      flex-wrap: nowrap;
      flex-direction: column;
      .projectCard {
        flex: 1;
        border-width: 4px;
        padding: 16px 16px 16px 16px;
        p {
          font-size: 18px;
          max-width: 80%;
        }
      }
    }
  }
}
