$site-main: #127369;
$site-mainVibrant: #1ebdad;
$site-secondary: #20524d;
$site-secondaryOld: #10403b;
$site-third: #8ab1ad;
$site-forth: #4c5958;
$site-fifth: #bfbfbf;
$site-offWhite: #f9fafb;
$layout-breakpoint-desktopMedium: 1920px;
$layout-breakpoint-tablet: 900px;
$layout-breakpoint-mobile: 720px;
