@use "fonts/_fonts.scss" as *;
@use "structure.scss" as *;
@use "theme.scss" as *;
@use "ui.scss" as *;
@use "projects.scss" as *;
@use "contact.scss" as *;
@use "pixelated.scss" as *;
@use "presentationAside.scss" as *;
@use "text-effects.scss" as *;
@use "nav.scss" as *;

.marquee {
  background-color: $background;
  padding: 0px;
  border: $marquee_border;
  border-right: 0;
  border-left: 0;
  color: $marquee_color;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;


  span {
    font-size: 46;
    line-height: "1em";
  }
}

@mixin bordered() {
  border: 2px solid $primary;
  border-radius: 6px;
  padding: 8px;
}

.root {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 14px;
  gap: 11px;
  max-width: 1000px;
  width: 97%;
  row-gap: 11px !important;
  margin: 0 auto;
  flex-wrap: wrap;

  .pixel-corners--wrapper {
    background-color: $background;
  }
}

main {
  width: 100%;
  display: block;
  flex: 1;
  padding: 12px;
  font-family: "grotesque", "facade";
  font-size: 20px;
  letter-spacing: 0.4px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ft88", "grotesque", "facade";
    font-weight: 900;
    text-decoration-style: dashed;
    text-underline-offset: 2px;
  }

  h1 {
    color: $primary;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-bottom: 5px;
    text-decoration-thickness: 2px;
  }

  h2 {
    margin-bottom: 4;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-thickness: 1.5px;
  }


  p {
    font-weight: 400;
    text-indent: 2ch;
  }

  strong,
  .strong {
    font-weight: 300;

    text-decoration-color: $primary !important;
    // text-decoration: underline;
    color: $primary
  }
}

@media (max-width: $mobile-breakpoint) {
  .root {
    flex-direction: column;
  }
}