@use "theme.scss" as *;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;

  color: $text;

  padding-bottom: 15px;
  font-family: "facade";
}

html {
  background: $background;
  background-image: url("/background/fade.png"), url("/background/stars.jpg"), ;
  image-rendering: pixelated;
  // background-attachment: normal, fixed;
  background-repeat: repeat-x, repeat;
  background-position: bottom, top;
  padding-bottom: 190px;
  background-size: auto 90, 400 auto;
}

body {
  image-rendering: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* End of Reset */
/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 1px;

  &:hover {
    width: 3px;
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  padding: 4px;
  background: transparent;
  position: absolute;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {

  background: rgb($primary, 0.8);

  border-radius: 5px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb($primary, 0.8);
}
