@use "../structure.scss" as *;
@use "../theme.scss" as *;

// ==================================================

.bianzhidai,
.bianzhidaiBase {
  font-family: "bianzhidai";
  font-weight: 400;
  position: relative;
  font-size: 4em;
  white-space: pre;
  text-align: center;
  line-height: 1em;
}

@font-face {
  font-family: "bianzhidai";
  src: url("./bianzhidai/bianzhidai-Base.woff");
}

@font-face {
  font-weight: 100;
  font-family: "bianzhidai";
  src: url("./bianzhidai/bianzhidai_noBG-Base.woff");
}

@font-face {
  font-weight: 500;
  font-family: "bianzhidai";
  src: url("./bianzhidai/bianzhidai_COLR-grid.woff");
}

@font-face {
  font-weight: 600;
  font-family: "bianzhidai";
  src: url("./bianzhidai/bianzhidai_COLR-GRAY.woff");
}

@font-face {
  font-weight: 700;
  font-family: "bianzhidai";
  src: url("./bianzhidai/bianzhidai_COLR-RGB.woff");
}

// ==================================================
.ft88 {
  font-family: "ft88";
}

@font-face {
  font-weight: 100;
  font-family: "ft88";
  src: url("./ft88/FT88-Expanded.otf");
}

@font-face {
  font-weight: 200;
  font-family: "ft88";
  src: url("./ft88/FT88-School.otf");
}

@font-face {
  font-weight: 300;
  font-family: "ft88";
  src: url("./ft88/FT88-Serif.otf");
}

@font-face {
  font-weight: 400;
  font-family: "ft88";
  src: url("./ft88/FT88-Regular.otf");
}

@font-face {
  font-style: italic;
  font-family: "ft88";
  src: url("./ft88/FT88-Italic.otf");
}

@font-face {
  font-weight: 500;
  font-family: "ft88";
  src: url("./ft88/FT88-Gothique.otf");
}

@font-face {
  font-weight: 600;
  font-family: "ft88";
  src: url("./ft88/FT88-Bold.otf");
}

.facade {
  font-family: "facade";
}

@font-face {
  font-family: "facade";
  src: url("facade/Facade-Ouest.woff");
}

.grotesque {
  font-family: "grotesque";
}

@font-face {
  font-family: "grotesque";
  src: url("grotesque/terminal-grotesque.ttf");
}